b.second
my_rfs_supertree
mrp_score/
my_rfs_supertree
my_rfs_supertree_ER_RFS
my_rfs_supertree_find_frequencies
my_rfs_supertree_simulated_annealing_1
simulate_annealing
z_50_30_0
z_freq
z_frequencies_seabirds
z_summary_seabirds
zz_frequencies_seabirds_random
initial_supertree
xxxxxxxx
z_input
callgrind.out.6662
ggg
gmon.out
gprof2dot/
mmmmy_rfs_supertree
my_rfs_supertree_ER_10_30_0_SA_1_001_005
my_rfs_supertree_sa_1_001_001
my_rfs_supertree_simulated_annealing_2
output.png
output.svg
output2.png
output3_find_rf_score2_.svg
output3_find_rf_score_.svg
sa_1_0001_05
sa_1_0005_0005
sa_1_005_0000001_run1
sa_1_005_0000001_run2
sa_1_005_0000001_run3
sa_1_005_0000001_run4
sa_1_005_0000001_run5
sa_1_005_0000001_run6
sa_3_005_0000001
zxxxxxx
zz_frequencies_seabirds_mrp
zz_frequencies_seabirds_rfs
zz_run_all.sh
zz_seabirds_summary
zzza1
zzza2
zzzz